<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="https://ca-times.brightspotcdn.com/dims4/default/5a0ec47/2147483647/strip/true/crop/1704x1229+0+263/resize/1200x866!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F86%2Fe6%2F3dc7a71549d39c96ae70c467936b%2Fla-photos-1staff-492202-sp-0211-kobe-special-section52-wjs.jpg" alt="">
      <ion-card-title>Kobe Bryant</ion-card-title>
      <ion-card-subtitle>1978 - 2020</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Kobe Bean Bryant (Filadelfia, Pensilvania, 23 de agosto de 1978-Calabasas, California, 26 de enero de 2020)​fue un baloncestista estadounidense que jugaba en la posición de escolta. Disputó veinte temporadas en la NBA, todas ellas en Los Angeles Lakers.
    </ion-card-content>
  
    <ion-button class="vermas" [routerLink]="['/detalle']" fill="clear">Ver más</ion-button>
  </ion-card>

  
</ion-content>
